# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg
build/
dist/
sdist/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.loq_cache
.coverage
htmlcov/

# Environments
.python-version
.env
.envrc
.venv/
env/
venv/

# MacOS
.DS_Store

# Editors
.idea/
.vscode/
.zed/
!ui/.vscode/
